/*reset css*/

*,
*::after,
*::before{
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

/*basic styles*/

@font-face{
    font-family: 'Mplus Medium';
    src: url(../../fonts/MPLUSRounded1c-Medium.ttf) format('truetype');
}

@font-face{
    font-family: 'Mplus Bold';
    src: url(../../fonts/MPLUSRounded1c-ExtraBold.ttf) format('truetype');
}



body{
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    font-family: 'Mplus Medium';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #222429;
}

.chatsframe{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.title{
    font-weight: 800;
    font-size: 40px;
    line-height: 59px;
    color: #0467AC;
}

.button{
    padding: 16px 24px;
    border: 0px solid;
    border-radius: 8px;
    color: #FFFFFF;
    transition: all .3s;
    border-radius: 8px;
    font-size: 18px;
    line-height: 20px;
    background-color: #2477D9;
    cursor: pointer;
}

.link{
    padding: 16px 24px;
    border-radius: 8px;
    color: #0467AC;
    font-size: 18px;
    line-height: 20px;
}

.link-registration{
    background:#2477D9;
    color: #fff;
}

.link-registration:hover{
    background:#E3051B;
    color: #fff;
}



/*header*/

.header__inner{
    margin: 36px 0 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
}

.menu__item + .menu__item{
    margin-left: 15px;
}

.menu__link:hover{
    color: #0467AC;;
    background-color: #E0E3EA;
}

.menu__link-registration:hover{
    color: #fff;
    background-color: #2262AD;
} 


/* END HEADER */

/* CONFERENCE START */

.conference__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 141px;
}
.conference__inner_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 71px;
}
.conference__items{
    display: flex;
    margin-bottom: 47px;
    align-items: center;
}

.conference__item{
    padding: 7px 22px;
    border: 1px solid #E20917;
    border-radius: 100px;
    color: #2477D9;
}

.conference__item:nth-child(odd){
    padding-left: 44px;
    position: relative;
}

.conference__item:nth-child(odd)::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #39CF36;
    top: 16px;
    left: 22px;
    border-radius: 50%;
}

.conference__item + .conference__item{
    margin-left: 18px;
}

.conference__maintext{
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 29px;
}

.conference__text{
    font-size: 20px;
    line-height: 30px;
    max-width: 494px;
}

.conference__img img{
    width: 100%;
    max-width: 400px;
    height: auto; 
}

.conference__maintext{
    max-width: 750px;
    color: #0467AC;
}

.conference__text{
    margin-bottom: 40px;
}

/* END CONFERENCE*/

/* Start registration */

.registration--hide{
    display: none;
}

.registration{
    background-color: #3EA3DC;
    padding: 70px 0;
    position: relative;
}

.registration__inner{
    max-width: 761px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 40px 60px;
}

.registration__form-title{
    margin-bottom: 32px;
    max-width: 589px;
}

form {
    position: relative;
}

.registration__item{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.registration__item-input{
    display: flex;
    flex-direction: column;
    max-width: 310px;
    width: 100%;
}

.registration__item-politics .registration__item-input{
    max-width: 310px;
    width: auto;
}



.registration__item-input input,
.registration__item-input select{
    margin-top: 4px;
}

.registration__item-text{
    padding-top: 22px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    max-width: 283px;
    margin-left: 40px;
    color: #9EA4AC;
}

.registration__item-input label{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    width: 310px;
}

.form-control{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    border: 2px solid #CFD4DC;
    border-radius: 8px;
    background: #fff;
    font-size: 17px;
    line-height: 24px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input:invalid,
select:invalid
{
    border-color: red;
}  


.registration__item-input input,
.registration__item-input select{
    outline: none;
}

.registration__item-input select{
    max-width: 312px;
    color: black;
}

.selectation{
    position: relative;
}

.selectation::after{
    content: '';
    position: absolute;
    top: 39px;
    right: 5px;
    width: 24px;
    height: 24px;
    background-image: url(../../images/down.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: x;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}

.form-control input,
.form-control select
{
    border: 2px solid #CFD4DC;
}

.registration__item-politics{
    align-self: flex-start;
}

.registration__item-politics .registration__item-text{
   margin-left: 10px;
   padding: 6px 0;
   font-family: 'Roboto', sans-serif;   
   font-weight: 400;
   font-size: 17px;
   line-height: 20px;
   color: #000000;
}

button:disabled,
button[disabled]{
  border: 1px solid #EFF1F5;
  background-color: #EFF1F5;
  color: #9EA4AC;
}

button:hover:enabled,
button:hover:enabled{
    background:#E3051B;
    color: #fff;
}

.registration__item-warning{
    max-width: 492px;
    font-size: 14px;
    line-height: 16px;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    width: 392px;
    border-radius: 24px;
    background-color: #fff;
    padding: 40px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.popup__shown{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
    transition: all .3s;
    z-index: 15;    
}

@media (max-width: 480px) {
    .popup__shown{
        visibility: visible;
        transform: translate(-50%,-50%) scale(0.8);
        transition: all .3s;
        z-index: 15;    
    }
}

.popup__text{
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 32px;
    text-align: center;
}

.registration__overlay--on{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
}


/* END REGISTRATION */

/* START SCHEDULE */

.schedule__inner{
    padding: 80px 0 80px;
}

.schedule__title{
    margin-bottom: 60px;
    text-align: center;
}

.schedule__items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -40px;
}

.schedule__item{
    max-width: 260px;
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    background: linear-gradient(90deg, #0E85C8 0.22%, #004E84 148.86%), #FFFFFF;
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 30px;
    flex-basis: calc(25% - 40px);
    margin-left: 40px;
    color: #FFFFFF;
}

.schedule__day{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
}

.schedule__time{
    padding-left: 38px;
    position: relative;
}

.schedule__time::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
    background-image: url(../../images/schedule.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* END SCHEDULE */

/* START STREAMED */

.streamed__inner{
    padding: 0 0 110px;
}

.streamed__items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -40px;
}

.streamed__item{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 0;
    flex-basis: calc(50% - 40px);
    margin-left: 40px;
    margin-top: 60px;
}

.streamed__text{
    padding-top: 20px;
}

.streamed__title{
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
    max-width: 760px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.streamed__iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 0;
    height: 428px;
}

.streamed__iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 315px;
    border-radius:10px;
}

.streamed__info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.streamed__numbers{
    color: #9D9D9D;
    font-size: 18px;
    line-height: 32px;
}

/* END STREAMED */

/* START BEFORETRANSLATION */

.beforetranslation__inner{
    padding: 110px 0 30px;
}

.beforetranslation--paddingoff{
    padding-top: 0;
}

.beforetranslation__title{
    text-align: center;
    margin-bottom: 60px;
}

.beforetranslation__items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.beforetranslation__chat{
    margin-left: 40px;
}

.beforetranslation__iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 37%;
    height: 428px;
}

.beforetranslation__iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 428px;
}

.beforetranslation__chat iframe,
.beforetranslation__img iframe 
{
    border-radius: 10px;
}

.beforetranslation__img img{
    max-width: 100%;
}

.beforetranslation__text{
    border-radius: 10px;
    background-color: #E0E3EA;
    max-height: 428px;
    height: 428px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0px;
    max-width: 360px;
    width: 100%;
    margin-left: 10px;
}

.beforetranslation__chat img{
    max-width: 100%;
}
.beforetranslation__chat--text{
    border-radius: 10px;
    background-color: #E0E3EA;
    height: 360px;
    max-width: 760px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

/* END BEFORETRANSLATION */

/* START OLDTRANSLATION */



/* END OLDTRANSLATION */

/* START QUESTION */

.questions__inner{
    max-width: 960px;
    margin: 0 auto 110px;
}

.questions__title{
    margin-bottom: 60px;
    text-align: center;
}

.questions__item{
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #E3051B;
    padding: 27px 24px;
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 18px;
}

.questions__item + .questions__item{
    margin-top: 12px;
}

.questions__faq{
    font-weight: 800;
}

.questions__faq::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../../images/down.png);
    top: 27px;
    right: 27px;
    transition: all .6s;
}

.questions__text{
    line-height: 22px;
    max-width: 600px;
    font-weight: 500;
    transform: scaleY(0);
    transform-origin: top;
    height: 0; 
    overflow: hidden;
    font-size: 0; 
    transition: transform .6s ease;
}

.questions__visible{
    margin-top: 15px;
    height: auto;
    font-size: 16px;
    overflow: visible;
    transform: scaleY(1);
    transition: transform .6s ease;
}

.questions__rotate::after{
    transform: rotate(180deg);
}



/* END QUESTION */

/* START SUPPORT */

.support__inner{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 95px;
}

.support__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 41px;
}

.support__items {
    display: flex;
    padding: 0 138px;
}

.support__item img{
    width: 100%;
    height: auto;
}

.support__item + .support__item {
    margin-left: 25px;
}

/* END SUPPORT */

/* START FOOTER */

.footer__link{
    padding: 28px 0 10px;
}

.footer__inner{
    padding: 28px 0 10px;
    border-top: 1px solid #9EA4AC;
}

a.confidential__link{
    text-decoration: underline;
    color: #2477D9;
}

.footer__link{
    font-size: 14px;
    line-height: 16px;
}

/* END FOOTER */

/* START HAMBURGER MENU */

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 26px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background-color: #000000;
}

/* END HAMBURGER */

/* START ADAPTIVE */

@media (max-width: 1120px){
    .conference__inner{
        flex-direction: column;
        margin-bottom: 80px;
        align-items: center;
    }
    .conference__inner_2{
        flex-direction: column;
        margin-bottom: 80px;
        align-items: center;
    }
    .conference__maintext{
        max-width: 100%;
    }
    .conference__info{
        margin-bottom: 70px;
    }
    .header__inner{
        margin-bottom: 30px;
    }
    .schedule__inner{
        padding-top: 80px;
    }
    .support__items{
        padding: 0px 24px;
    }
    .beforetranslation__inner{
        padding-top: 80px;
    }
}

@media (max-width: 1060px){
    .beforetranslation__text{
        margin-left: 10px;
    }
}

@media (max-width: 970px){
    .oldtranslations__item{
        padding-top: 35%;
        margin-top: 40px;
    }
}

@media (max-width: 940px){
    .beforetranslation__items{
        flex-direction: column;
        align-items: center;
    }
    .beforetranslation__text{
        margin-top: 10px;
        max-width: 900px;
        width: 100%;
        height: 300px;
        margin-left: 0;
    }
    .beforetranslation__chat{
        display: none;
    }
    .beforetranslation__chat--text{
        display: flex;
    }
}

@media (max-width: 920px){
    .conference__link{
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media (max-width: 890px){
    .streamed__items{
        margin-left: 0;
    }
    .streamed__item{
        flex-basis: 100%;
        margin-left: 0;
        padding-top: 0;
    }
}

@media (max-width: 870px){
    .schedule__item{
        margin-left: 16px;
        flex-basis: calc(33.33% - 16px)
    }
    .schedule__items{
        margin-left: -16px;
    }
    .support__items{
        flex-wrap: wrap;
        align-items: center;
        margin-left: -25px;
    }
    .support__item{
        flex-basis: calc(33.33% - 25px);
        margin-bottom: 33px;
        height: auto;
    }
    .support__item:nth-child(5){
        flex-basis: 50%;
    }
    .beforetranslation__title{
        margin-bottom: 40px;
    }
    .beforetranslation__inner{
        padding: 80px 0 0;
    }
    .beforetranslation__chat{
        position: relative;
        overflow: hidden;
        max-width: 200px;
        width: 100%;
        padding-top: 37%;
        height: 428px;
        margin-left: 5px;
    }
    .beforetranslation__chat iframe{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-height: 428px;
    }
    .oldtranslations__inner{
        padding: 0 0 80px;
    }
    .beforetranslation--paddingoff{
        padding-top: 0;
    }
}

@media (max-width: 840px){
    .menu__item + .menu__item{
        margin-left: 5px;
    }
    .container{
        padding: 0 24px;
    }
    .registration__item-input{
        max-width: 100%;
    }
    .registration__item{
        flex-direction: column;
        align-items: normal;
    }
    .registration__item-text{
        margin-left: 0;
        max-width: 299px;
    }
    .registration__item-politics{
        display: flex;
        flex-direction: row;
    }
    .registration__item-text{
        padding-top: 6px;
    }
    .registration__item-input select{
        max-width: 100%;
    }
}

@media (max-width: 740px){
    .oldtranslations__item{
        padding-top: 53%;
        margin-top: 40px;
    }
}

@media (max-width: 700px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu{
        height:100vh;
        position: fixed;
        left: -100%;
        top: 95px;
        gap: 0; 
        width: 100%;
        text-align: center;
        transition: 0.3s;
        font-size: 26px;
        line-height: 34px;
        background-color: #fff;
        z-index: 10;
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        padding: 70px 24px 0px 24px;
    }
    .menu__item + .menu__item{
        margin-top: 50px;
        margin-left: 0;
    }
    .menu__link{
        width: 100%;
        display: block;
        font-size: 26px;
        line-height: 34px;
    }
    .menu__item a{
        width: 100%;
        display: block;
    }
    .menu.active{
        left: 0;
    }
    .conference__maintext{
        font-size: 26px;
        line-height: 34px;
    }
    .conference__text{
        font-size: 18px;
        line-height: 26px;
    }
    .registration__inner{
        padding: 20px;
    }
    .schedule__title{
        margin-bottom: 40px;
    }
    .support__items{
        margin-left: -10px;
    }
    .support__item + .support__item{
        margin-left: 10px;
    }
    .support__item{
        flex-basis: calc(33.33% - 10px);
    }
    .support__item:nth-child(5){
        flex-basis: calc(50%-25px);
        margin-left: 33px;
    }
}

@media (max-width: 660px){
    .oldtranslations__item{
        padding-top: 60%;
    }
}

@media (max-width: 600px){
    .conference__items{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 29px;
    }
    .conference__item + .conference__item{
        margin-left: 0;
        margin-top: 12px;
    }
    .registration__item-warning{
        max-width: 299px;
    }
    .schedule__item{
        flex-basis: calc(50% - 16px)
    }
    .questions__inner{
        margin-bottom: 80px;
    }
    .beforetranslation__items{
        flex-direction: column;
    }
    .beforetranslation__chat{
        max-width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .oldtranslations__item{
        padding-top: 65%;
    }
}

@media (max-width: 550px){
    .oldtranslations__item{
        padding-top: 73%;
    }
}

@media (max-width: 520px){
    .schedule__date{
       font-size: 20px;
       line-height: 28px;
    }
    .schedule__time{
        font-size: 20px;
        line-height: 28px;
    }
    .streamed__info{
        display: block;
        text-align: center;
    }
}

@media(max-width: 500px){
    .oldtranslations__item{
        padding-top: 80%;
    }
}


@media (max-width: 480px){
    .registration__item-input input,
    .registration__item-input select
    {
       width: 100%;
    }
    .registration__form{
        width: 100%;
    }
    .questions__title{
        line-height: 52px;
    }
}

@media (max-width: 450px){
    .oldtranslations__item{
        padding-top: 90%;
    }
}

@media (max-width: 420px){
    .menu{
        height: 100vh;
    }
    .registration__form-title{
        font-size: 36px;
    }
    .questions__title{
        font-size: 34px;
        margin-bottom: 40px;
    }
    .oldtranslations__item{
        padding-top: 97%;
    }
}

@media (max-width: 400px){
    .registration__item-text{
        font-size: 12px;
        line-height: 14px;
    }
}

@media (max-width: 390px){
    .oldtranslations__item{
        padding-top: 105%;
    }
    .schedule__item{
        padding: 20px 17px;
        margin-left: 12px;
        flex-basis:calc(50%-12px);
    }
    .shedule__items{
        margin-left: -12px;
    }
}

@media (max-width: 380px){
    .registration__item-warning{
        font-size: 13px;
        line-height: 14px;
    }
    .conference__maintext{
        font-size: 24px;
    }
    .conference__info{
        margin-bottom: 50px;
    }
}

/* END ADAPTIVE */